
@{
    ViewData["Title"] = "Index";
}

<h1>Administration</h1>
<p>
    <ul>
        <li>
            <a asp-controller="Artists" asp-action="Index">Artists</a>
        </li>   
        <li>
            <a asp-controller="Genres" asp-action="Index">Genres</a>
        </li>
        <li>
            <a asp-controller="Songs" asp-action="Index">Songs</a>
        </li>
        <li>
            <a asp-controller="ShoppingCarts" asp-action="Index">ShoppingCarts</a>
        </li>
        <li>
            <a asp-controller="OnlineUsers" asp-action="Index">OnlineUsers</a>
        </li>
    </ul>
</p>
