@{
    ViewData["Title"] = "Browse Music";
}

<h2>Browse Music</h2>

<div class="row">
    <div class="col-md-4">
        <form>
            <div class="form-group">
                <label class="control-label">Genre:</label>
                <select class="form-control" asp-items="ViewBag.GenreID"></select>
            </div>

            <div class="form-group">
                <label class="control-label">Artist:</label>
                <select class="form-control" asp-items="ViewBag.ArtistId"></select>
            </div>

            <div class="form-group">
                <label class="control-label">Songs:</label>
                <br />
                @Html.ListBox("Songs", ViewBag.SongList as MultiSelectList)
            </div>

            <input type="submit" value="Add to Cart" />
        </form>
    </div>
</div>

