@{
    ViewData["Title"] = "Browse Music";
}

<h2>Browse Music</h2>

<p>Browse Music here broskis:</p>

<form>
    <fieldset>

        Select Genre

        Dropdown here

        <p>

            <input type="submit" value="Submit" />

        </p>

    </fieldset>
</form>

