
@{
    ViewData["Title"] = "Logout";
}

<h1>Logout</h1>
<p>
    You are being logged out...
    <script>
        window.setTimeout(function () {
            window.location.href = '/';
        }, 3000);</script>
</p>

