@{
    ViewData["Title"] = "Browse Music";
}

<div class="text-center">
    <h1 class="display-4">Boring old home page</h1>

    <form action="/Home/Index" method="get">

        <fieldset>
            Attempt at a dropdown:

            Select Genre
            <select id="Genre" name="Genre">

                <option value=""></option>

                <option value="0">Action</option>

                <option value="1">Drama</option>

                <option selected="selected" value="2">Comedy</option>

                <option value="3">Science Fiction</option>

            </select>

            <p><input type="submit" value="Submit" /> </p>

        </fieldset>

    </form>

</div>
