@{
    ViewData["Title"] = "Browse Music";
}

<div class="text-center">
    <h1 class="display-4">Welcome to MusicShop.com!</h1>
    <p>Please @{
            Context.Request.Cookies.TryGetValue("UserType", out string? userType);

            if (userType != null)
            {
                <a asp-controller="BrowseMusic" asp-action="Index">browse</a>
            }
            else
            {
                <a asp-controller="Logon" asp-action="Index">login</a> <text>to browse</text>
            }
        } 
        our collection of music!
        </ p >
</div>
